.white-space-normal {
  white-space: normal;
}

/*
 * Primary Nav
 */

#primary-nav {
  border-bottom: 1px solid #f1f4f5;
  background-color: white;
}

.fixed-top-2 {
  margin-top: 56px;
}

.navbar-wrapper {
}

.content-container {
  padding-top: 56px;
}

/*
 * Field Group
 */

.field-group {
  border-bottom: 1px solid #f1f4f5;
  padding-top: 10px;
}

/*
 * Branding Colors
 */

.gotbee-bg-yellow {
  background-color: #ffee55;
  color: #555;
}

.gotbee-bg-yellow:hover {
  color: #111 !important;
}

.gotbee-bg-grey {
  background-color: #666;
  color: #eee;
}

.gotbee-bg-grey:hover {
  color: #999;
}

/*
* Alerts
*/

.gb-alert {
  z-index: 1050;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  /*max-width: 20%;*/
  z-index: 1000;
}

.map-record {
  height: 315px;
}

/*
 * file-tool
 */

.file-tool {
  height: 315px;
}

.file-tool-table-wrapper {
  height: 247px;
  overflow: auto;
}

/*
* Calendar
*/
.rw-calendar-popup.rw-popup-container {
  z-index: 1050;
}
